.custom-accordion {
    --bs-accordion-border-radius: 1.5rem;
    --bs-accordion-inner-border-radius: calc(1.5rem - 1px);
    --bs-accordion-btn-font-size: var(--step-5);
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-bg: #fff;
    --bs-accordion-active-color: inherit;
}

.custom-accordion .accordion-item {
    border-radius: 1rem;
    border: 1px solid #BEBEBE;
    overflow: hidden;
    color: #333333;
}

.custom-accordion .accordion-item + .accordion-item {
    margin-top: 0.75rem;
}

.custom-accordion .accordion-button:focus,
.custom-accordion .accordion-button:active,
.custom-accordion .accordion-button:not(.collapsed) {
    box-shadow: none;
    outline: none;
}

.custom-accordion .accordion-header {
    margin-bottom: 0;
}

.custom-accordion .accordion-button {
    font-weight: 700;
}
