.Person-Image, .Letter-Image {
    height: auto;
    width: 4rem;
}

.Contact-Information-Section, .Staff-Information-Section {
    border-bottom: 1px solid #BEBEBE;
}

.Message-Span {
    font-weight: bold;
    color: #F57021;
    text-decoration: underline 1.5px;
    text-underline-offset: 5px;
}

.Profession-Title {
    color: white;
    font-weight: bold;
    background-color: #F57021;
    display: inline-block;
    padding: .3rem 0.8rem;
    border-radius: 1rem;
    margin: 0px;
}

.Staff-Card {
    border: 1px solid #BEBEBE;
    border-radius: 2rem;
}

.Contact-Form-Message {
    min-height: 12rem;
}