.marquee-container {
  overflow: hidden;
  display: flex;
  user-select: none;
}

.marquee-content {
  display: flex;
  align-items: center;
  gap: 5rem;
  animation: scroll 30s linear infinite;
}

.marquee-content img {
  object-fit: contain;
  height: 50px;     
  width: auto;       
}

@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-30%); }
}