@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

body, a {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin-top: 0;
}

h1 {
    font-size: 2.986rem;
}

h2 {
    font-size: 2.488rem;
}

h3 {
    font-size: 2.074rem;
}

h4 {
    font-size: 1.728rem;
}

h5 {
    font-size: 1.44rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}